/*Catégorie*/
#LePlusAcheté #PourVous #Promotion{
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    max-width: 1200px;
    width: 95%;
}

.carroussel{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

/*Boutons*/

.carroussel .boutton-defilement{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.carroussel .boutton-defilement#av-carroussel{
    left: -20px;
    display: none;
}

.carroussel .boutton-defilement#ap-carroussel{
    right: -20px;
}

.carroussel .boutton-defilement:hover{
    background: #444;
}

/*element*/
.carroussel .liste-img{
    display: grid;
    gap: 12vw;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.carroussel .liste-img::-webkit-scrollbar{
    display: none;
}

.element-carroussel{
    border: none;
    background-color: white;
}

.carroussel .liste-img .element-carroussel{
    width: 35vh;
    height: 50vh;
    object-fit: cover;
}

.img_carrousell{
    margin-top: 0;
    width: 35vh;
    height: 45vh;
}

.text-element-carroussel a {
    color: black;
}

/*Barre de défilement*/

.carroussel .scrollbar-carroussel{
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
}

.scrollbar-carroussel .scrollbar-container{
    height: 0;
    width: 0;
    background: #ccc;
    position : relative;
    border-radius: 4px;
}

.scrollbar-carroussel:hover .scrollbar-container{
    height: 0;
}

.scrollbar-carroussel .scrollbar-thumb{
    position: absolute;
    height: 0;
    width: 0;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.scrollbar-carroussel .scrollbar-thumb:active{
    cursor: grabbing;
    height: 0;
    top: -2px;
}

.scrollbar-carroussel .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px

}

@media screen and (max-width: 900px) {

    #LePlusAcheté #PourVous #Promotion h2{
        font-size: 2rem;
    }
    .carroussel .boutton-defilement{
        display: none !important;
    }

    .carroussel .liste-img {
        gap: 12vw;
        margin-bottom: 15px;
    }

    .carroussel .liste-img .element-carroussel{
        width: 35vh;
        height: 50vh;
        object-fit: cover;
    }

    .scrollbar-carroussel .scrollbar-thumb{
        width: 20%;
    }

    .text-element-carroussel{
        font-size: 2vh;
    }
}