/*Catégorie*/
#LePlusAcheté #PourVous #Promotion{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #006dda;
    max-width: 1200px;
    width: 95%;
}

.carroussel{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

/*Boutons*/

.carroussel .boutton-defilement{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.carroussel .boutton-defilement#av-carroussel{
    left: -20px;
}

.carroussel .boutton-defilement#ap-carroussel{
    right: -20px;
}

.carroussel .boutton-defilement:hover{
    background: #444;
}

/*Images*/
.carroussel .liste-img{
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.carroussel .liste-img::-webkit-scrollbar{
    display: none;
}

.carroussel .liste-img .img_carrousell{
    width: 325px;
    height: 400px;
    object-fit: cover;
}

/*Barre de défilement*/

.carroussel .scrollbar-carroussel{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.scrollbar-carroussel .scrollbar-container{
    height: 2px;
    width: 100%;
    background: #ccc;
    position : relative;
    border-radius: 4px;
}

.scrollbar-carroussel:hover .scrollbar-container{
    height: 4px;
}

.scrollbar-carroussel .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.scrollbar-carroussel .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.scrollbar-carroussel .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px

}