#LePlusAcheté #PourVous #Promotion{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #006dda;
    max-width: 1200px;
    width: 95%;
}

.carroussel .liste-img{
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.carroussel .liste-img::-webkit-scrollbar{
    display: none;
}

.carroussel .liste-img .img_carrousell{
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.carroussel .scrollbar-carroussel{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.scrollbar-carroussel .scrollbar-container{
    height: 2px;
    width: 100%;
    background: #ccc;
    position : relative;
    border-radius: 4px;
}

.scrollbar-carroussel:hover .scrollbar-container{
    height: 4px;
}

.scrollbar-carroussel .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.scrollbar-carroussel .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.scrollbar-carroussel .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px

}