.product-main {
    display: flex;
}

.product-image {
    flex: 1;
}

.product-image img {
    height: 80vh;
    width: auto;
}

.product-image2 {
    flex: 1;
    width: 30vw;
    height: 80vh;
    background-image: url('assets/t-shirt.png'); /* Image de t-shirt */
    background-size: 100% auto; /* Rend l'image responsive */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    position: relative;
    display: flex;
}

.product-details {
    flex: 1;
    padding: 0 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-top: 0;
}

.product-details p {
    font-size: 18px;
}

.product-details label {
    display: block;
    margin-top: 10px;
}

.product-details select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-details h2 {
    font-size: 20px;
    margin-top: 15px;
}

.product-details ul {
    list-style-type: none;
    padding: 0;
}

.product-details li {
    margin-bottom: 5px;
}

.product-details button {
    display: block;
    width: 30vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: 90vh;

}

.product-details button:hover {
    background-color: #0056b3;
}
main {
    max-width: 90%;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}