.product-main {
    display: flex;
}

.product-image {
    flex: 1;
}

.product-image img {
    height: 80vh;
    width: auto;
    position: relative;
    margin: 20px;
}

.product-image2 {
    width: 45vh; /* Largeur fixe en pixels */
    height: 50vh;
    background-image: url('../assets/t-shirt.png'); /* Image de t-shirt */
    background-size: cover;
    position: relative;
    margin: 20px;
}
.taille-img{
    min-width: 50%;
    min-height: 30%;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.product-details {
    flex: 1;
    padding: 0 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-top: 0;
}

.product-details p {
    font-size: 18px;
}

.product-details label {
    display: block;
    margin-top: 10px;
}

.product-details select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.product-details h2 {
    font-size: 20px;
    margin-top: 15px;
}

.product-details ul {
    list-style-type: none;
    padding: 0;
}

.product-details li {
    margin-bottom: 5px;
}

.product-details button {
    display: block;
    width: 30vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.product-details button:hover {
    background-color: #0056b3;
}

main {
    max-width: 100%;
    margin-top: 50px;
    padding: 20px;
}

/* Pour les écrans plus petits que 900px */
@media screen and (max-width: 900px) {
    .product-main {
        place-items: center;
    }
    .product-image2 {
        width: 39vh; /* Largeur fixe en pixels */
        height: 45vh;
        background-image: url('../assets/t-shirt.png'); /* Image de t-shirt */
        background-size: cover;
        position: relative;
        margin: 20px;
    }
    .product-image img{
        width: 39vh; /* Largeur fixe en pixels */
        height: auto;
        background-image: url('../assets/t-shirt.png'); /* Image de t-shirt */
        background-size: cover;
        position: relative;
        margin: 20px;
    }
    .product-main {
        flex-direction: column; /* Change la direction du flux en colonne */
    }

    .product-details {
        width: 90%;
        place-items: center;
    }

    .product-details button {
        width: 100%; /* Remplit la largeur */
        position: static; /* Réinitialise la position */
        margin-top: 20px; /* Ajoute une marge en haut */
    }
}
