/* Baptiste css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 150px;
    width: 100vw;
    background-image: url(../assets/karim_linux2.png);
    background-size: cover;
}
.navbar{
    position: fixed;
    /*margin: 50px;*/
    padding: 3vh 10vw;
    display: flex block;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    z-index: 999;
    transition: padding 0.3s; /* Transition pour une animation fluide */
}
.navbar a {
    color: white;
}
.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links .standard-ul {
    display: flex;

}
.navbar .nav-links ul .marge-li{
    margin: 0 25px;

}
.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
}
.navbar .menu-barre{
    display: none;
    position: fixed;
    top: 4.9vh;
    right: 2vw;
    width: 35px;

}
@media screen and (max-width: 900px){
    .navbar{
        padding: 6vh 10vw;
        margin: 0;
        z-index: 999;
        display: flex block;
        background-color: bisque;
        transition: padding 0.3s; /* Transition pour une animation fluide */

    }
    .navbar .logo{
        position: fixed;
        top: 2.5vh;
        left: 8vw;
    }
    .navbar .menu-barre{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;

    }

}
.navbar.shrink {
    position: fixed;
    /*margin: 50px;*/
    padding: 1vh 3vw;
    display: flex block;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    z-index: 999;
}
/* Style du menu déroulant */
.sous-menu {
    display: none;
    position: absolute;
    background-color: #333; /* Couleur de fond du menu déroulant */
    padding: 20px;
    top: 80%;
    /*left: 0;
    z-index: 1;*/
}

.sous-menu li {
    /*margin: 0;*/
}

.sous-menu li a {
    color: #fff; /* Couleur du texte des sous-menu */
    text-decoration: none;
}

/* Affichage du menu déroulant lors du survol */
.deroulant:hover .sous-menu {
    display: block;
}
.nav-li{
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Centrer verticalement les éléments */

}
.li-marge-none{
    margin: 0 0px;
}
.barre-recherche {
    display: inline-flex; /* Afficher les éléments en ligne */
    align-items: center; /* Aligner les éléments verticalement */
    width: 300px; /* Largeur de la barre de recherche */
    background-color: #fff; /* Couleur de fond de la barre de recherche */
    border: 1px solid #ccc; /* Bordure de la barre de recherche */
    border-radius: 5px; /* Bordure arrondie */
    padding: 5px 10px; /* Espacement à l'intérieur de la barre de recherche */

}
/* Style de l'icône de recherche */
.barre-recherche .icone-recherche {
    margin-right: 5px; /* Espacement à droite de l'icône */


}

/* Style de la zone de saisie de texte */
.barre-recherche input[type="text"] {
    border: none; /* Suppression de la bordure par défaut */
    outline: none; /* Suppression de l'effet de focus */
    flex: 1; /* Permet à la zone de saisie de texte de s'étendre pour remplir l'espace disponible */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
}

#logo{
    height: 100px;
    width: auto;
}


/* Orphée css */



#contenu {
    background-color: rgb(136, 105, 105);
    height: 86vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    overflow: auto;
    resize: both;
    box-sizing: border-box;
    padding: 50px;
}

    #liste {
        background-color: white;
        height: 50vh;
        width: 60vw;
        margin-right: 20px; /* Add some space between the two divs */
    }
        #textpanier{
            width: 100%;
         
            padding: 20px;
            
            
            
        }

    #payement {
        background-color: white;
        height: 50vh;
        width: 20%;
        
    }
        #textpanier{
            padding: 20px;

        }



#pub{
    background-color: rgb(155, 47, 47);
    height: 50vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    overflow: auto;

}













@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/


.main1{
    margin-top: 12%;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}
.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
/* @media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
} */


.owl-carousel .owl-nav button.owl-prev {
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) !important; */
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 35%;
    /* left: -22px; */
   
}
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 3rem !important;
}

.owl-carousel .owl-nav button.owl-next{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    right: 0px;
    top: 35%;
   
}

.owl-carousel .owl-nav button.owl-next span{
    font-size: 3rem !important;
    
}




