


@font-face {
    font-family: 'Tauri';
    src: url('/Tauri-Regular.ttf') format('truetype');
  }


/* Orphée css */



#contenu {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex; 
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the start (top) of the container */
    padding: 50px;
    
    
}

    #liste {
        background-color: rgb(255, 255, 255);
        
        min-height: 60vh;
        width: 40vw;
        margin-right: 20px; /* Add some space between the two divs */
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
        font-family: 'Tauri', sans-serif;
        

    
    }
        #textpanier{
            width: 100%;
         
            padding: 20px;
            
            
            
        }
    
    #payement {
        position: sticky;
        
        background-color: white;
        min-height: 10vh;
        width: 20vw;
        border: 2px solid black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
        font-family: 'Tauri', sans-serif;
        box-sizing: border-box;

        
    }

    .texte{
        
        font-size: 1rem; 
        margin-bottom: 20px;


    }
    .Total {
        font-size: 1.8rem; 
        margin-bottom: 30px;


    }
        #textpanier{
            padding: 20px;

        }

        .button-32 {
            background-color: #f3e525;
            border-radius: 12px;
            color: #000;
            cursor: pointer;
            
            padding: 10px 15px;
            text-align: center;
            transition: 200ms;
            
            box-sizing: border-box;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-bottom: 10px;
            
          }
          
          .button-32:not(:disabled):hover{
              background-color: #e4d506;
          
          }
          



#pub{
    background-color: rgb(155, 47, 47);
    height: 50vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    overflow: auto;

}
















 @media screen and (max-width: 1000px){ 
    #liste {

        display: none;
    }

    #contenu {
        min-height: 90vh;
        display: flex; 
        justify-content: center; 
        padding: 50px;
        
        
    }





    #payement {
        position: absolute;
        border: none;
        background-color: rgb(255, 255, 255);
        min-height: 23vh;
        width: 100vw;
        font-family: 'Tauri', sans-serif;
        
        box-shadow: none;
        display: grid;
        place-content: left;
        bottom: 0;
        position: fixed;
        z-index: 1000; 


        



    }

    .texte{
        
        font-size: 0.8rem; 
        margin-bottom: 15px;

    }
    .Total {
        font-size: 1.2rem; 
        margin-bottom: 15px;


    }

    

    .button-32 {

        position: absolute;
        background-color: #f3e525;
        border-radius: 12px;
        color: #000000;
        cursor: pointer;
        
        padding: 10px 15px;
        text-align: center;
        
        
        height: 6vh;
        width: 90%;
        
        border: 0;
        font-size: 20px;
        
        margin-bottom: 5px;
       
        
      
    }

}

    
 

.liste_article{
    display: grid;
    width: 100%;
    place-items: left;

}


.article{
    margin: 20px;
    
    width: 95%;
    border: solid black 1px;
    display: flex;
}



.image{
    background-color: #000;
    width: 12rem;
    margin: 1rem;
    height: 20vh;

}









.info_article{

    margin: 1rem;

}








.td_descritpion{
    
}