html{
    scrollbar-width: none;
    overflow-x: hidden;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 5vh;
    justify-items: center; /* Aligner les éléments au centre horizontalement */
}

#image-grid img {
    height: 45vh;
    width: 35vh;
}
.image-container {
    margin-top: 5vh;
}
div{
    margin-left: 1vw;
    margin-right: 1vw;
}
a   {
    text-decoration: none;
    color: black;
}
