html{
    scrollbar-width: none;
    overflow-x: hidden;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center; /* Aligner les éléments au centre horizontalement */
}

#image-grid img {
    height: 20vh;
    width: 30vh;
}
