

 /*Police de caractère*/
 @font-face {
    font-family: 'Tauri';
    src: url('/Tauri-Regular.ttf') format('ttf');
       
    font-weight: normal;
    font-style: normal;
}







/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h2 {
    margin-top: 10px;
}

.product p {
    color: #555;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.search-input{
    
}

#logo{
    height: 5vh;
    width: 5vh;


}

/* Style pour les boutons */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-light {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.btn-social {
    padding: 8px; /* Ajuster le padding pour l'icône */
}
/* Styles pour le menu déroulant */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}

.dropdown-menu li {
    list-style: none;
}

/* Styles pour le lien Catégories */
.dropdown:hover .dropdown-menu {
    display: block;
}


/* Pour la banderole de Orphée*/

#banderole{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90vh;
    background-image: none;
}

#block-image{
    height: 90vh;
    width: 29vw;
    
    position: absolute;
    overflow: hidden;
    right: 0;
    text-align: center; 
    left: 65vw;

    


}

.slideimage{
    position: absolute;
    margin: auto;
    display: block;
    
    height: 90vh;
}

#Slogan{
    position: absolute;
    
    width: 40vw;
    height: auto;
   
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    left: 10%;
    top: 25%;

    font-size: 2.5rem;
    @font-face {
        font-family: 'Tauri';
        src: url('/Tauri-Regular.ttf') format('ttf');
           
        font-weight: normal;
        font-style: normal;
    }



}


.boutonfleche{
    background-color: #212529;
    height: 5vh;
    width: 5vh;
    position: absolute;
    justify-content: center;    
    top: 50%;
}

.boutonfleche:hover{
    background-color: #212529;

    opacity: 0.7;
}



#leftbouton{
    left: 117vh;
  
    
    

}

#rightbouton{
    
    left: 187vh;
    

}

#lien{
    position: relative;
    text-align: center;
    top: 50%;
    left: 12%;

    font-size: 1rem;
    text-decoration: none;
    
    width: 35vw;
    font-family: 'Tauri';

    
}

.desliens{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 1.25rem;        
}

.desliens:hover{
    color: #006dda;
}

a {
    text-decoration: none;

}

.fade{
    animation: fade;
    animation-duration: 1.5s;

}

@keyframes fade{
    from {opacity: 0.2} 
    to {opacity: 1}
  }

  #Slogantel{
    font-size: 0px;


  }
    #lientel{
    display: none;
    }

 



  @media screen and (max-width: 1000px) {



    #versionmobile{
        width: 100%;
       height: 50vh;
       background-color: rgb(255, 255, 255);
       position: relative;
    }


    #banderole{
        position: relative;
        background-image: url(/image/Photoacceuil4.jpg);
        width: 100%;
        height: 90vh;
        background-size: cover;
    
    
    }


    #block-image{
        display: none;
    
    
    }

    #Slogan{
        font-size: 0px;
    
    
    }

    #lien{
        display: none;
    }

    

    




    #Slogantel{
        position: absolute;
         top: 40%;
         left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: auto;
        font-size: 25px;
        text-align: center;
        font-family: 'Tauri';
        background-color: #ffffff;
    }

    #lientel{
        position: absolute;
        top: 60%;
       display: flex;

        
    }

    .deslienstel{
        position: relative;
        font-size: 100%;
        width: 19vw;
        font-size: 0.85rem;
        text-align: center;
        background-color: black;
        color: white;
        
        border: 1px solid black;
        border-radius: 0.3rem;
        margin: 10px;
        font-family: 'Tauri';

        
    }
   
    
    .slideimage{
        display: none;
    }

    

    .boutonfleche{
        height: 3vh;
        width: 3vh;
    }



  }

.contentrub{
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#LePlusAcheté, #PourVous, #Promotion{
    margin-left: 1%;
}
