



@font-face {
  font-family: 'Tauri';
  src: url('Tauri-Regular.ttf')  format('woff2')
}

:root{

    --text_payement: 0.8rem; 
    --espace_entre_texte:15px;



}





#infoclient{
  
  padding: 30px;
  

}

.information{
  background-color: rgb(255, 255, 255);
  min-height: 90vh;
  display: flex; 
  justify-content: center;
  align-items: flex-start; 
  padding: 50px;
  

}

.adress{
  position: relative;
  
 
  width: 100ch;
  margin-right: 3rem;
  margin-bottom: 3rem;
  
  padding: 1.5rem;

}

.payement{

  height: 50vh;
  border: 3px solid rgb(255, 255, 255);

  width: 50ch;
  margin: 20px;
  

}

.Total {

  font-size: 2em; 
  margin-bottom: 20px;
}




.choisi{
  height: 5vh;
  width: 88%;
  border-radius: 0%;
  border: 1px solid black;
  color: rgb(66, 66, 66);
  


}

#paye {
  position: sticky;
        
  background-color: white;
  min-height: 10vh;
  width: 20vw;
  font-family: 'Tauri', sans-serif;
  box-sizing: border-box;
  



  
}
  #textpanier{
      padding: 20px;

  }


  



  .unput{

      height: 5vh;
        
      text-indent: 10px;  
      font-size: 1rem;
      border-radius: 0.6rem;
      border: 2px solid rgb(155, 153, 153);
      font-family: 'Tauri';
      height: 7vh;
      margin-top: 0.7rem; 

      width: 100%;      
      margin-left: 0.7rem;


  }
  select{
    width: 102%;
    height: 10vh;
    font-size: 1rem;
    text-indent: 5px;  
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid gray;
    background-color: #fff; 
  }
  
  .unput:focus{
     
      border: 2px solid rgb(3, 3, 3);
  
  }
    
   
    
    

    .uninput{

      margin-top: 0.7rem; 
      margin-left: 0.7rem;
      width: 100%;
    }
    .deroule{
      font-size: 1rem; 
      margin-top: 0.7rem; 
      margin-left: 0.7rem;
      height: 7vh;
      width: 100%;


    }

    

  .texte{
    font-size: 1rem;

    margin-bottom: 15px;


  }
    

    

      










    

/* CSS */
.button-28 {
appearance: none;
background-color: transparent;
border: 2px solid #1A1A1A;
border-radius: 15px;
box-sizing: border-box;
color: #3B3B3B;
cursor: pointer;
display: inline-block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 50px;
min-width: 0;
outline: none;
padding: 0.6rem 1rem;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 100%;
will-change: transform;
}

.button-28:disabled {
pointer-events: none;
}

.button-28:hover {
color: #fff;
background-color: #1A1A1A;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.button-28:active {
box-shadow: none;
transform: translateY(0);
}







.test{
  width: 100%;

  
}


.pour_telephone{
  display: none;
  

}

@media screen and (max-width: 1000px){


  #paye {
    position: absolute;
    border: none;
    background-color: rgb(255, 255, 255);
    min-height: 23vh;
    width: 100%;
    font-family: 'Tauri', sans-serif;
    
    box-shadow: none;
    display: grid;
    place-content: left;
    bottom: 0;
    position: fixed;
    z-index: 1000; 
  }
.test{
  
  display: none;

}

.pour_telephone{
  display: grid;
  width: 100%;
  place-items: center;
  
}
tr{
  width: 100vh;
}

td{
  width: 100vh;

}
.information{
 
  display: flex; 
  justify-content: center;
  align-items: flex-start; 
  padding: 0px;
  

}
input{

  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Tauri';

}

select{
  width: 101%;
  height: 5vh;
  font-size: 1rem;
  text-indent: 5px;  
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid gray;
  background-color: #fff;
  
}

.pourcentrerleformulaire{

  width: 100%;


  position: absolute;

}


.information{
  min-height: 70vh;
 
  

}

  
}


