#infoclient{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 30px;

}

.information{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    padding: 50px;

}

.adress{
    position: relative;
    height: 70vh;
    border: 3px solid black;
    margin: 20px;
    width: 90vh;
    right: 10vw;

}

.payement{

    height: 50vh;
    border: 3px solid black;

    width: 80%;
    margin: 20px;

}