        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        .container {
            width: 80%;
            margin: 1% auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            margin-top: 2vh;
            margin-bottom: 20px;
        }

        /* Configuration de la disposition des boutons */
        .button-group {
            display: grid;  /* Utilisation de la grille */
            grid-template-columns: repeat(3, 1fr);  /* 3 colonnes de taille égale */
            gap: 10px;  /* Espace entre les boutons */
            margin-bottom: 20px;
        }

        /* Styles pour les liens sous forme de gros boutons blancs */
        .button-group a {
            padding: 25px 20px; /* Augmenter la taille des boutons */
            border: none;
            border-radius: 10px; /* Bordures arrondies */
            background-color: white; /* Couleur blanche */
            color: black; /* Couleur du texte */
            text-decoration: none;
            text-align: center;
            font-size: 18px; /* Taille de police plus grande */
            font-weight: bold; /* Police en gras */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
            cursor: pointer;
            transition: box-shadow 0.3s, transform 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;  /* Espace entre l'icône et le texte */
        }

        /* Changement de style lors du passage de la souris */
        .button-group a:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus forte */
            transform: translateY(-2px); /* Déplace légèrement le bouton vers le haut */
        }

        @media screen and (max-width: 900px){
            .button-group {
                grid-template-columns: repeat(1, 1fr);  /* 3 colonnes de taille égale */
            }
            .button-hist {
                grid-template-columns: repeat(1, 1fr);  /* 3 colonnes de taille égale */
            }
        }

        /*PL*/


        /* Styles pour le bouton de soumission */
        .button-hist {
            width: 60%;
            margin: 0 0 5% 20%;
            padding: 10px 15px;
            background-color: white;
            color: black;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        }

        .button-hist a{
            text-decoration: none;
            color: black;
        }

        .button-hist:hover {
            background-color: #f0f0f0;
        }

        #content-hist{
            background-color: rgb(255, 255, 255);
            min-height: 60vh;
            display: flex;
            justify-content: center; /* Center items horizontally */
            align-items: flex-start; /* Align items to the start (top) of the container */
            padding: 50px;
        }

        #liste-hist{
            background-color: rgb(255, 255, 255);

            min-height: 60vh;
            width: 60vw;
            margin-right: 20px; /* Add some space between the two divs */
            font-family: 'Tauri', sans-serif;
        }

        #text-hist{
            width: 100%;
            padding: 20px;
        }
